@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Engraver";
    src: url(fonts/engravers-mt.ttf) format('truetype');
}

:root {
    --main-font: "Montserrat";
    --fancy-font: "Engraver";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

body {
    background-image: url(images/MainCoverPhoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    height: 80px;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.logo {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0rem 2rem 0rem 3rem;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0rem 1rem;
    font-size: 2rem;
    padding: 10px;
    background-color: rgba(200, 0, 0, 0);
    transition: all 0.5s ease-in-out;
}

nav a:hover {
    position: relative;
    display: inline-block;
    background-color: rgba(200, 0, 0, 0.399);
}

.box-shadow {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: rgba(200, 0, 0, 0.399);
}

.title {
    margin-top: 20%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.title h1 {
    font-size: 5rem;
    font-family: var(--fancy-font);
}

.main-content {
    margin-top: 25%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

.bar-item {
    margin-bottom: 5%;
    display: flex;
}

.bar-image {
    width: 400px;
    height: 300px;
    box-shadow: 10px 5px 5px black;
}

.bar-description {
    padding-left: 50px;
    padding-right: 45%;
    font-size: 1.25rem;
    text-wrap: wrap;
    text-decoration: none;
}

.bar-description a {
    color: white;
}

footer {
    height: 115px;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 2rem;
    font-size: 4rem;
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

footer a {
    text-decoration: none;
    color: white;
}

/* Bar Pages */

.bar-title {
    text-shadow: 3px 3px 4px black;
    text-align: center;
    margin-bottom: 3%;
    font-size: 3rem;
}

main .bar-content {
    margin-top: 10%;
    color: white;
}

.bar-info {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.25rem;
    text-wrap: wrap;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .8);
    padding-right: 10px;
}

.bar-info a {
    color: white;
    transition: all .2s ease-in-out;
}

.bar-info a:hover {
    background-color: rgba(200, 0, 0, 0.5)
}

.bar-map {
    text-align: center;
    margin-bottom: 5%;
}

.bar-item img {
    box-shadow: 10px 5px 5px black;
}

#bar-position-change {
    margin-left: 10%;
}